<%- include('./partials/header.ejs'); -%> 
  <body>
    <div class="con">
      <div class="wrapper">
        <div class="left-side">
          <div class="ftures">
            <img class="img" src="/images/Images/Saly-1.png" alt="" />
            <p class="para">Gain fast and easy access to patient database</p>
          </div>
          <div class="ftures">
            <p class="para">Track and manage medical records with ease</p>
            <img class="img" src="/images/Images/Saly-12.png" alt="" />
          </div>
          <div class="ftures">
            <img class="img" src="/images/Images/Saly-16.png" alt="" />
            <p class="para">Read and edit patient records fast</p>
          </div>

          <div id="container">
            <div id="circle">
              <div id="small-circle"></div>
            </div>
          </div>
        </div>
        <!-- main form -->
        <div class="right-side">
          <div class="step-links">
            <a href="/" class="back">
              <span class="icon"
                ><i class="fa fa-angle-left fa-sm" aria-hidden="true"></i></span
              >Back
            </a>
            <div class="steps">
              <p class="step">STEP 01/03</p>
              <p class="personal">Personal info.</p>
            </div>
          </div>

          <h3 class="heading">Register Staff Account!</h3>
          <p class="subtitle">
            For the purpose of industry regulation, your details are required.
          </p>
          <hr />
          <%- include('./partials/message.ejs'); -%>
          <form
            action="/staff/register"
            method="POST"
            class="form needs-validation"
            novalidate
          >
            <div class="form-row">
              <div class="col-md-12 mb-12">
                <label for="validationCustom01" class="label"
                  >Your Full Name*</label
                >
                <input
                  type="text"
                  class="inp"
                  id="validationCustom01"
                  placeholder="Adeolu Kenny"
                  name="name"
                  value="<%= typeof name != 'undefined' ? name : '' %>"
                />
              </div>
              <div class="col-md-12 mb-12">
                <label for="email" class="label">Email Adress*</label>
                <input
                  type="email"
                  class="inp"
                  id="email"
                  name="email"
                  placeholder="Enter email adress"
                  value="<%= typeof email != 'undefined' ? email : '' %>"
                />
              </div>
            </div>
            <div>
              <div>
                <label for="password" class="label">Create password*</label>
                <div class="passinp">
                  <input
                    type="password"
                    class="pass"
                    id="password"
                    placeholder="****************"
                    name="password"
                    value="<%= typeof password != 'undefined' ? password : '' %>"
                  />
                  <span
                    class="span-eye"
                    aria-hidden="true"
                    id="eye"
                    onclick="toggle()"
                  >
                    show
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="yes"
                  id="invalidCheck"
                  name="agree"
                  value="<%= typeof agree != 'undefined' ? agree : '' %>"
                />
                <label class="terms" for="invalidCheck">
                  I agree to terms and conditions
                </label>
              </div>
            </div>
            <button class="submit submit-text" type="submit">
              Register Account
            </button>
          </form>
        </div>
      </div>
    </div>
    <script>
      var state = false;
      function toggle() {
        if (state) {
          document.getElementById("password").setAttribute("type", "password");
          document.getElementById("eye").style.color = "#7a797e";
          state = false;
        } else {
          document.getElementById("password").setAttribute("type", "text");
          document.getElementById("eye").style.color = "#5587ef";
          state = true;
        }
      }
    </script>
<%- include('./partials/footer.ejs'); -%>
